table.table.table-striped.table-responsive.mw-100.p-2#contacttable
    
    thead.thead-light
        tr#tableHeadings 
            th Name
            th Address  
            th Phone 
            th E-Mail 
            th &nbsp
            th &nbsp

    tbody#contactbody
                               
#contactmap
